@using SmartInsuarance.Models
@model List<SubMenuMaster>
@{
    ViewBag.Title = "RateMaster";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
    List<ShowMenuDropDown> Menulist = new List<ShowMenuDropDown>();
    if (ViewBag.Menulist != null)
    {
        Menulist = (List<ShowMenuDropDown>)ViewBag.Menulist;
    }
    List<SmartInsuarance.Model.GlobalClass> lst = new List<SmartInsuarance.Model.GlobalClass>();
    lst = SmartInsuarance.Model.CommonList.GetTypeList();
}
<style>
    .Paddingtop1 {
        padding-top: 10px !important ;
        padding-bottom: 10px !important
    }
</style>
<link href="~/Content/Custom.css" rel="stylesheet" />

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">*@
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" style="color: blanchedalmond;font-weight: bold;">Rate Master</h4>


        </div>
        <div class="card-body">
            @using (Html.BeginForm("RateMasterCreate", "Role", FormMethod.Post, new { @class = "formcreateupdate", @id = "frmAddUpdate", enctype = "multipart/form-data" }))
            {
                <input name="sMnuNme" id="sMnuNme" type="hidden" value="" class="form-control">
                <input name="sSbMnuNme" id="sSbMnuNme" type="hidden" value="" class="form-control">
                <div class="form-group  is-empty row Paddingtop">
                    @*<label for="nameInput" class="col-sm-2 control-label customlabel">Menu Name</label>*@
                    <div class="col-sm-4">
                        <select class="singleselect" id="MenuName" name="iMnuid" required>
                            <option value="">Select Menu Name</option>
                            @{
                                foreach (var item in Menulist)
                                {
                                    <option value="@item.MenuId">@item.MenuName</option>
                                }
                            }

                        </select>
                    </div>
                    @*<label for="nameInput" class="col-sm-2 control-label customlabel">SubMenu Name</label>*@
                    <div class="col-sm-4">
                        <select class="singleselect" id="SubMenuName" name="iSbMnu" required>
                            <option value="">Select SubMenu Name</option>


                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="singleselect" id="Type" name="iTyp" required>
                            <option value="">Select Type </option>
                            @{
                                foreach (var item1 in lst)
                                {
                                    <option value="@item1.Id" style="background-color:@item1.graphbackcolor;">@item1.Text</option>
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="form-group is-empty row Paddingtop1">

                    <div class="col-sm-4">
                        <input name="dRate" id="Rate" type="text" value="" class="form-control" placeholder="Enter Rate" required>
                    </div>
                    <div class="col-sm-4">

                        <input type="date" class="form-control" name="dtStrDt" value="" id="StrDate" required />
                        <small id="msgshow" class="col-sm-12 control-label" style="color:red;text-align: unset;">Effective  Date</small>
                    </div>
                    <div class="pull-right col-sm-4" style="text-align: end;">
                        <a href="#" class="btn btn-default">Reset</a>
                        <button class="btn btn-primary"> Save </button>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-responsive-md" id="tblCustomers">
                    <thead>
                        <tr>
                            <th>#No</th>
                            <th>Menu Name</th>
                            <th>SubMenu Name </th>
                            <th>Type</th>
                            <th>Rate</th>
                            <th>Date</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Content/Template/js/jScript.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        BindTableRate();
        $("#fluid #tblCustomers #tbody .Update").click(function () {
            alert("hdshf");
        });
        $(".singleselect").select2();
        $("#MenuName").change(function () {
            $("#sMnuNme").val($("#MenuName option:selected").text());
            BindSubmenus($(this).val());
        });
        $("#SubMenuName").change(function () {
            $("#sSbMnuNme").val($("#SubMenuName option:selected").text());
        })
        $(input['name=Status']).change(function () {
            alert("hdvjf");
        });
    });
    function BindSubmenus(MenuId) {

        var Model = {
            MenuId: MenuId
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/Role/GetSelectSubmenulist",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(Model),
            success: function (data) {

                var submenuList = data.Data;
                //console.table(submenuList)
                var selectBody = "<option value=0>Select Submenus</option> ";

                submenuList.forEach(item => {
                
                        selectBody += `<option value=${item.Id}>${item.Text}</option>`
                 
                });

                $('#SubMenuName').html('')
                $('#SubMenuName').append(selectBody);
            },
            error: function (d) {
                console.log(d);
            }
        });

    }
   


</script>