
@{
    Layout = null;
    var pckID = (int)ViewBag.packID;
}


<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Smart ensure-Login</title>
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/Content/Template/images/favicon.png" />
    <link href="~/Content/Template/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Template/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.css" />
</head>

<body class="body  h-100" style="background-image: url('/Content/Template/images/login-bg-1.jpg'); background-size: cover;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-contain-center">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row m-0">
                            <div class="col-xl-6 col-md-6 sign text-center">
                                <div>
                                    <div class="text-center my-5" style="display: flex;place-content: center;align-items: baseline;margin-top: 25px !important;">
                                        @* <a href="javascript:void(0);"><img src="~/Content/Template/images/logo-full.png" alt=""></a>*@
                                        <i class="fa fa-2xl fa-dollar-sign" style="color: #2681b5"></i><h2 style="color: #2681b5">mart ensure</h2>
                                    </div>
                                    <img src="~/Content/Template/images/log.png" class="img-fix bitcoin-img sd-shape7" style="width: 75%; height: 75%;margin-top: -30px;" />
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="sign-in-your py-4 px-2">
                                    <h4 class="fs-20" style="margin-bottom: 20px;">Sign in your account</h4>
                                    <span>Welcome back! Login with your data that you entered<br> during registration</span> <br />
                                    @*<div class="login-social">
                                            <a href="javascript:void(0);" class="btn d-block btn-primary my-3"><i class="fab fa-google me-2"></i>Login with Google</a>
                                            <a href="javascript:void(0);" class="btn d-block btn-secondary my-3"><i class="fab fa-facebook-f me-2"></i>Login with Facebook</a>
                                        </div>*@
                                    <form action="@Url.Action("LoginAlt","Auth")" method="post" class="mt-5">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" name="Email" class="form-control" id="username" value="hello@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" name="Password" class="form-control" id="userpassword">
                                        </div>
                                        <div class="row d-flex justify-content-between mt-4 mb-2">

                                            <div class="col-lg-6">
                                                <a href="javascript:void(0);">Forgot Password?</a>
                                            </div>

                                            @*<div class="mb-3">
                                                    <div class="form-check custom-checkbox ms-1">
                                                        <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                                        <label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
                                                    </div>
                                                </div>*@

                                        </div>
                                        <div class="text-center row">
                                            <div class="col-lg-6">
                                                <button type="button" id="btnlogin" class="btn btn-primary btn-block">Login <i class="fa fa-sign-in-alt"></i></button>
                                                <button type="submit" id="btnsubmit" class="btn btn-primary btn-block" style="display:none">Sign Me In <i class="fa fa-sign-in-alt"></i></button>
                                            </div>
                                            <div class="col-lg-6">

                                                <a href="@Url.Action("Register", "Auth", new {packID=pckID})" id="btnRegister" class="btn btn-secondary btn-block" style="background-color: #2fc5c5 !important; border-color: #2fc5c5 !important; color: black !important;"><i class="fa fa-pen"></i> Register Me</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Content/Template/vendor/global/global.min.js"></script>
    <script src="~/Content/Template/js/dlabnav-init.js"></script>
    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#username').val('');
            $('#username').focus();
            var isuserExists = '@TempData["IsUserDetailsExists"]'
            var message = '@TempData["msg"]'
            if (isuserExists == 1) {
                Swal.fire({
                    title: "Error",
                    text: message,
                    icon: "warning",
                    showCloseButton: true,
                });
            }

            var htmlData = "";
            $('#btnlogin').click(function () {

                var username = $('#username').val();
                var password = $('#userpassword').val();
                if (username != "" && password != "") {
                    htmlData = `Login <i class="fas fa fa-spinner fa-pulse ml-1"></i>`;
                    $(this).html('');
                    $(this).html(htmlData);
                    $('#btnsubmit').click();
                }
            })
        });

    </script>
</body>
</html>