
@{
    Layout = null;
    var pckID = (int)ViewBag.packID;
}


<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Smart ensure-Register</title>
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/Content/Template/images/favicon.png" />
    <link href="~/Content/Template/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Template/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.css" />
</head>

<body class="body  h-100" style="background-image: url('/Content/Template/images/login-bg-1.jpg'); background-size: cover;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-contain-center">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row m-0">
                            <div class="col-xl-4 col-md-4 sign text-center">
                                <div style="margin-top: -30px;">
                                    <div class="text-center my-5" style="display: flex; place-content: center; align-items: baseline">
                                        @* <a href="javascript:void(0);"><img src="~/Content/Template/images/logo-full.png" alt=""></a>*@
                                        <i class="fa fa-2xl fa-dollar-sign" style="color: #2681b5"></i><h2 style="color: #2681b5">mart ensure</h2>
                                    </div>
                                    <img src="~/Content/Template/images/Registration.png" class="img-fix bitcoin-img sd-shape7" style="width: 140%;height: 70%;margin-top: -15px;margin-left: -60px;" />
                                </div>
                            </div>
                            <div class="col-xl-8 col-md-8">
                                <div class="sign-in-your py-4 px-2">
                                    <input type="hidden" name="iPackID" value="@pckID" />
                                    <h4 class="fs-20" style="margin-bottom: 20px;text-decoration: underline;">Registration</h4>
                                    @*<span>Welcome back! Login with your data that you entered<br> during registration</span>*@
                                    @*<div class="login-social">
                                            <a href="javascript:void(0);" class="btn d-block btn-primary my-3"><i class="fab fa-google me-2"></i>Login with Google</a>
                                            <a href="javascript:void(0);" class="btn d-block btn-secondary my-3"><i class="fab fa-facebook-f me-2"></i>Login with Facebook</a>
                                        </div>*@
                                    <form action="@Url.Action("saveDetails", "Auth", new {pkID =pckID})" method="post" class="mt-3">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12">
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>Name</strong></label>
                                                    <input type="text" name="sName" class="form-control">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6 col-md-6">
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>Pincode</strong></label>
                                                    <input type="text" name="sPincode" oninput="numberOnly(this.id);" id="txtpincode" maxlength="6" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-xl-6 col-md-6">
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>Mobile</strong></label>
                                                    <input type="text" name="sMobileNo" oninput="numberOnly(this.id);" id="txtMobile" maxlength="10" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6 col-md-6">
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>E-mail</strong></label>
                                                    <input type="email" name="sEmailId" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-xl-6 col-md-6">
                                                <div class="mb-3">
                                                    <label class="mb-1"><strong>Password</strong>&nbsp;<i class="fa fa-info-circle" id="passInfo" style="font-size: 14px;color: #29448d;"></i></label>
                                                    <input id="password" class="form-control" name="sPassword" type="password" placeholder="Enter your password">
                                                    <span class="show-pass" onclick="toggle()" style="position: absolute;top: 18.9rem;left: 75.5em;">
                                                        <i class="far fa-eye" style="display:block" onclick="myFunction(this)"></i>
                                                    </span>
                                                    <div id="popover-password">
                                                        <p><span id="result"></span></p>
                                                        <div class="progress" style="height: 5px !important;">
                                                            <div id="password-strength"
                                                                 class="progress-bar"
                                                                 role="progressbar"
                                                                 aria-valuenow="40"
                                                                 aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 style="width:0%">
                                                            </div>
                                                        </div>
                                                        <div id="password-strength-title"></div>
                                                        <ul class="list-unstyled" id="ulpassRequire" style="display:none">
                                                            <li class="">
                                                                <span class="low-upper-case">
                                                                    <i class="fas fa-circle" aria-hidden="true"></i>
                                                                    &nbsp;Lowercase &amp; Uppercase
                                                                </span>
                                                            </li>
                                                            <li class="">
                                                                <span class="one-number">
                                                                    <i class="fas fa-circle" aria-hidden="true"></i>
                                                                    &nbsp;Number (0-9)
                                                                </span>
                                                            </li>
                                                            <li class="">
                                                                <span class="one-special-char">
                                                                    <i class="fas fa-circle" aria-hidden="true"></i>
                                                                    &nbsp;Special Character (!@@#$%^&*)
                                                                </span>
                                                            </li>
                                                            <li class="">
                                                                <span class="eight-character">
                                                                    <i class="fas fa-circle" aria-hidden="true"></i>
                                                                    &nbsp;Atleast 8 Character
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" style="margin-top: 12px;">
                                            <button type="submit" id="btnlogin" class="btn btn-primary btn-block"><i class="fa fa-user-plus"></i> Register</button>

                                            @* <button type="submit" id="btnsubmit" class="btn btn-primary btn-block" style="display:none">Sign Me In <i class="fa fa-sign-in-alt"></i></button>*@
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Content/Template/vendor/global/global.min.js"></script>
    <script src="~/Content/Template/js/dlabnav-init.js"></script>
    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#username').val('');
            //$('#username').focus();

            //$('#password').keyup(function () {
            //    let pass = $("#password").val();
            //    checkStrength(pass);
            //});

            $('#passInfo').click(function () {
                if (visible) {
                    visible = false;
                    $('#ulpassRequire').css('display', 'none');
                }
                else {
                    visible = true;
                    $('#ulpassRequire').css('display', 'block');
                }

            });


            var isuserExists = '@TempData["IsUserDetailsExists"]'
            var message = '@TempData["msg"]'
            if (isuserExists == 1) {
                Swal.fire({
                    title: "Error",
                    text: message,
                    icon: "warning",
                    showCloseButton: true,
                });
            }

            //var htmlData = "";
            //$('#btnlogin').click(function () {

            //    var username = $('#username').val();
            //    var password = $('#userpassword').val();
            //    if (username != "" && password != "") {
            //        htmlData = `Login <i class="fas fa fa-spinner fa-pulse ml-1"></i>`;
            //        $(this).html('');
            //        $(this).html(htmlData);
            //        $('#btnsubmit').click();
            //    }
            //})
        });

        function numberOnly(id) {
                       // Get element by id which passed as parameter within HTML element event
            var element = document.getElementById(id);
            // This removes any other character but numbers as entered by user
            element.value = element.value.replace(/[^0-9]/gi, "");
        }

    </script>

    <script type="text/javascript">

        let state = false;
        let visible = false;
        function toggle() {
            if (state) {
                $("#password").attr("type", "password");
                state = false;
            } else {
                $("#password").attr("type", "text")
                state = true;
            }
        }

        function myFunction(show) {
            show.classList.toggle("fa-eye-slash");
        }

        function checkStrength(password) {
            let strength = 0;
            //If password contains both lower and uppercase characters
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {
                strength += 1;
                $('.low-upper-case i').removeClass('fa-circle')
                $('.low-upper-case i').addClass('fa-check').css('color', '#25b325');
            } else {
                $('.low-upper-case i').addClasss('fa-circle');
                $('.low-upper-case i').removeClass('fa-check');
            }
            //If it has numbers and characters
            if (password.match(/([0-9])/)) {
                strength += 1;
                $('.one-number i').removeClass('fa-circle');
                $('.one-number i').addClass('fa-check').css('color', '#25b325');
            } else {
                $('.one-number i').addClass('fa-circle');
                $('.one-number i').removeClass('fa-check');
            }
            //If it has one special character
            if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/)) {
                strength += 1;
                $('.one-special-char i').removeClass('fa-circle');
                $('.one-special-char i').addClass('fa-check').css('color', '#25b325');
            } else {
                $('.one-special-char i').addClass('fa-circle');
                $('.one-special-char i').removeClass('fa-check');
            }
            //If password is greater than 7
            if (password.length > 7) {
                strength += 1;
                $('.eight-character i').removeClass('fa-circle');
                $('.eight-character i').addClass('fa-check').css('color', '#25b325');
            } else {
                $('.eight-character i').addClass('fa-circle');
                $('.eight-character i').removeClass('fa-check');
            }

            // If value is less than 2
            if (strength < 2) {
                $('#password-strength').removeClass('progress-bar-warning');
                $('#password-strength').removeClass('progress-bar-success');
                $('#password-strength').css('background-color', '#ff0000');
                $('#password-strength').css('width', '10%');
                $('#password-strength-title').html('');
                $('#password-strength-title').html('Weak');

            } else if (strength == 3) {
                $('#password-strength').removeClass('progress-bar-success');
                $('#password-strength').removeClass('progress-bar-danger');
                $('#password-strength').css('background-color', '#29448d');
                $('#password-strength').css('width', '60%');
                $('#password-strength-title').html('');
                $('#password-strength-title').html('Strong');
            } else if (strength == 4) {
                $('#password-strength').removeClass('progress-bar-warning');
                $('#password-strength').removeClass('progress-bar-danger');
                $('#password-strength').css('background-color', '#02cd00');
                $('#password-strength').css('width', '100%');
                $('#password-strength-title').html('');
                $('#password-strength-title').html('Very Strong');
            }
        }
    </script>
</body>
</html>