
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Smart ensure-Reset Password</title>
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/Content/Template/images/favicon.png" />
    @*<link href="~/Content/Template/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">*@
    <link href="~/Content/Template/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.css" />
</head>

<body class="body  h-100" style="background-image: url('/Content/Template/images/login-bg-1.jpg'); background-size: cover;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-contain-center">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row m-0">
                            <div class="col-xl-6 col-md-6 sign text-center">
                                <div>
                                    <div class="text-center my-3" style="display: flex; place-content: center; align-items: baseline">
                                        @* <a href="javascript:void(0);"><img src="~/Content/Template/images/logo-full.png" alt=""></a>*@
                                        <i class="fa fa-2xl fa-dollar-sign" style="color: #2681b5"></i><h2 style="color: #2681b5">mart ensure</h2>
                                    </div>
                                    <img src="~/Content/Template/images/log.png" class="img-fix bitcoin-img sd-shape7" style="width:75%;height:75%" />
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="sign-in-your py-4 px-2">
                                    <h4 class="fs-20" style="margin-bottom: 20px;">Reset Password</h4>
                                    <span>Welcome back! Reset password requires email verification via OTP, Kindly keep your email handy.</span> <br />
                                    @*<div class="login-social">
                                            <a href="javascript:void(0);" class="btn d-block btn-primary my-3"><i class="fab fa-google me-2"></i>Login with Google</a>
                                            <a href="javascript:void(0);" class="btn d-block btn-secondary my-3"><i class="fab fa-facebook-f me-2"></i>Login with Facebook</a>
                                        </div>*@
                                    <form action="@Url.Action("Resetpassword","Auth")" method="post" class="mt-4">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" name="Email" class="form-control" id="username" value="hello@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>New Password</strong></label>
                                            <input type="password" name="Password" class="form-control" id="userpassword">
                                        </div>
                                        <input type="hidden" value="Reset" name="Type" />
                                        <div class="row d-flex justify-content-between mt-4 mb-2">
                                            @*<div class="mb-3">
                                                        <div class="form-check custom-checkbox ms-1">
                                                            <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                                            <label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
                                                        </div>
                                                    </div>
                                                <div class="mb-3">
                                                    <a href="javascript:void(0);">Forgot Password?</a>
                                                </div>*@
                                        </div>
                                        <div class="text-center row">
                                            <div class="col-lg-8">

                                                <button type="button" id="btnlogin" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope-open"></i>  Generate OTP & Reset Password</button>
                                                <button type="submit" id="btnsubmit" class="btn btn-primary btn-sm btn-block" style="display:none">Sign Me In <i class="fa fa-sign-in-alt"></i></button>
                                            </div>
                                            <div class="col-lg-4">
                                                <a href="@Url.Action("Login", "Auth")" id="btnBackToLogin" class="btn btn-secondary btn-sm btn-block" style="background-color: #2fc5c5 !important; border-color: #2fc5c5 !important; color: black !important;"><i class="fa fa-arrow-left"></i> Back to Login</a>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-primary mb-2" id="btnOpenVerficationModal" style="display:none" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Modal centered</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter"  data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-xl" style="-webkit-box-shadow: -28px 28px 28px -11px rgba(181,181,181,1); -moz-box-shadow: -28px 28px 28px -11px rgba(181,181,181,1); box-shadow: -28px 28px 28px -11px rgb(180 170 170); border-radius: 50px;">
                <div class="modal-header" style="border-radius: 51px;background: #22b1db;">
                    <h5 class="modal-title" id="exampleModalCenterLabel" style="margin-left: 20px;color:white">Enter OTP</h5>
                    <button type="button" class="btn-close" id="btnCloseModal" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h2>Thank You</h2>
                        <i class='far fa-3x fa-smile' style="color: #87b2d6"></i><br />
                        <div style="margin-top: 20px;font-size:18px">
                            Thank you for using our service. <br />
                            Please enter the otp you recieved on provided mobile number and email address
                        </div>
                    </div>
                    <hr />
                    <div style="width: 90%;margin: auto;border: none;">
                        <div class="row">
                            <div class="col-sm-6" style="border-right: 1px solid #cbcbcb;">
                                <div class="row" style="display: flex; align-items: end;">
                                    <div class="col-sm-8">
                                        <label class="form-label"><strong>Mobile OTP</strong></label>
                                        <input type="text" class="form-control" oninput="numberOnly(this.id)" id="txtMobileOTP" placeholder="----" maxlength="4" style="width: 340px;">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="btnMverify" style="background: #22b1db !important; width: 160px; margin-left: -39px; -webkit-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75); -moz-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75); box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);"> <i class='fa fa-check'></i> Verify</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 mb-4">
                                <div class="row" style="display: flex; align-items: end;">
                                    <div class="col-sm-8">
                                        <label class="form-label"><strong>Email OTP</strong></label>
                                        <input type="text" class="form-control" oninput="numberOnly(this.id)" id="txtEmailOTP" placeholder="----" maxlength="4" style="width: 340px;">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="btnEverify" style="background :#22b1db !important; width: 160px; margin-left: -39px; -webkit-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75); -moz-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75); box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);"> <i class='fa fa-check'></i> Verify</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>






    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Content/Template/vendor/global/global.min.js"></script>
    <script src="~/Content/Template/js/dlabnav-init.js"></script>
    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.min.js"></script>
    <script src="~/Content/globalDomain.js"></script>

    <script>
        var mailOTP = 0;
        var mobileOTP = 0;
        var verifyStatus = 0;

        $(document).ready(function () {
            $('#username').val('');
            $('#username').focus();
            var isuserExists = '@TempData["IsUserDetailsExists"]'
            var message = '@TempData["msg"]'
            if (isuserExists == 1) {
                Swal.fire({
                    title: "Error",
                    text: message,
                    icon: "warning",
                    showCloseButton: true,
                });
            }

            var htmlData = "";
            $('#btnlogin').click(function () {

                var username = $('#username').val();
                var password = $('#userpassword').val();
                if (username != "" && password != "") {
                    htmlData = `<i class="fas fa fa-spinner fa-pulse ml-1"></i> Generating and sending OTP`;
                    $(this).html('');
                    $(this).html(htmlData);
                    sendEmail(username);
                    //$('#btnOpenVerficationModal').click();
                }
            })
            $('#username').blur(function () {
                if ($("#username").val().length > 0) {
                    if (!isValidEmailAddress($("#username").val())) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Invalid Email Address',
                            html: `"${$("#username").val()}" Is not valid, Please Enter Valid Email Address`,
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,
                        });
                        $("#username").val('');
                    }
                    else {

                        CheckUserEmailAddress($('#username').val());
                    }
                }
            })



        $('#btnEverify').click(function () {
            //alert(verifyStatus);
            var h = '<span class="spinner1"><i class="fa fa-spinner fa-pulse"></i> Verifying</span>'

            $('#btnEverify').addClass('has-spinner1').addClass('activeSpin');
            $('#btnEverify').html('');
            $('#btnEverify').html(h);


            //verifyStatus = verifyStatus + 1;
            //alert(verifyStatus);
            var detailsEmailOTP = mailOTP
            var EmailRecievedOTP = detailsEmailOTP;
            var EnteredOTP = $('#txtEmailOTP').val();
            if (EnteredOTP.length > 0) {

                if (parseInt(EnteredOTP) == 0) {
                    Swal.fire({
                        title: "Error",
                        text: 'Invalid OTP..!',
                        icon: "error",
                        showCloseButton: true,
                    });
                    $('#txtEmailOTP').val('');
                    EnteredOTP = '';

                    $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                    $('#btnEverify').html("<i class='fa fa-check'></i> Verify");

                }
                else if (EmailRecievedOTP != EnteredOTP) {
                    Swal.fire({
                        title: "Error",
                        text: 'OTP Not Matched, Please Retry..!',
                        icon: "error",
                        showCloseButton: true,
                    });
                    $('#txtEmailOTP').val('');
                    EnteredOTP = '';
                    $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                    $('#btnEverify').html("<i class='fa fa-check'></i> Verify");
                }
                else {
                    updateverificationStatus('Email');
                }
            }
            else {
                Swal.fire({
                    title: "Error",
                    text: 'Please Enter OTP, Its Can`t be Blank..!',
                    icon: "error",
                    showCloseButton: true,
                });
                $('#txtEmailOTP').val('');
                EnteredOTP = '';
                $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                $('#btnEverify').html("<i class='fa fa-check'></i> Verify");
            }
        })

        $('#btnMverify').click(function () {
            //alert(verifyStatus);
            var h = '<span class="spinner1"><i class="fa fa-spinner fa-pulse"></i> Verifying</span>'

            $('#btnMverify').addClass('has-spinner1').addClass('activeSpin');
            $('#btnMverify').html('');
            $('#btnMverify').html(h);


            var detailsMobileOTP = mobileOTP;
            var mobileRecievedOTP = detailsMobileOTP;
            var EnteredOTP = $('#txtMobileOTP').val();
            //verifyStatus = verifyStatus + 1;

            //alert(verifyStatus);
            if (EnteredOTP.length > 0) {

                //if (parseInt(EnteredOTP) == 0) {
                //    Swal.fire({
                //        title: "Error",
                //        text: 'Invalid OTP..!',
                //        icon: "error",
                //        showCloseButton: true,
                //    });
                //    $('#txtMobileOTP').val('');
                //    EnteredOTP = '';
                //    $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                //    $('#btnMverify').html("<i class='fa fa-check'></i> Verify");
                //}
                //else if (mobileRecievedOTP != EnteredOTP) {
                //    Swal.fire({
                //        title: "Error",
                //        text: 'OTP Not Matched, Please Retry..!',
                //        icon: "error",
                //        showCloseButton: true,
                //    });
                //    $('#txtMobileOTP').val('');
                //    EnteredOTP = '';
                //    $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                //    $('#btnMverify').html("<i class='fa fa-check'></i> Verify");
                //}
                //else {
                updateverificationStatus('Mobile');
                //}
            }
            else {
                Swal.fire({
                    title: "Error",
                    text: 'Please Enter OTP, Its Can`t be Blank..!',
                    icon: "error",
                    showCloseButton: true,
                });
                $('#txtMobileOTP').val('');
                EnteredOTP = '';
                $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                $('#btnMverify').html("<i class='fa fa-check'></i> Verify");
            }
        })
        });


        function isValidEmailAddress(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function CheckUserEmailAddress(EmailAddress) {
            var m = EmailAddress;

            if (m.length > 0) {
                var validationRequestModel = {
                    "Email": EmailAddress,
                    "Password": "",
                    "Type": 'UserCheck'
                }

                var d = JSON.stringify(validationRequestModel);
                console.log(d);
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: GetglobalDomain() + "/Common/ValidateUser",
                    dataType: 'json',
                    type: 'Post',
                    cache: false,
                    data: JSON.stringify(validationRequestModel),
                    success: function (data) {
                        //console.log('ajax');
                        //console.log(data);

                        if (data.StatusCode != 1 && data.Message != "User Details Exists") {

                            $('#userpassword').attr('disabled', 'true');
                            $('#btnlogin').attr('disabled', 'true');
                            $('#btnlogin').attr('cursor', 'wait');


                            //var d = `<p><b>"${EmailAddress}"</b> Is Already Registered, Please Use Different Mobile Number<p>`;
                            //Swal.fire({
                            //    position: 'center',
                            //    icon: 'error',
                            //    title: "Duplicate Entry",
                            //    html: d,
                            //    allowOutsideClick: false,
                            //    showCloseButton: true,
                            //    showConfirmButton: false,
                            //});
                            //$("#txtEmail").val('');
                            //$('#txtUsername').val('');
                        }
                        else {
                            $('#userpassword').removeAttr('disabled');
                            $('#btnlogin').removeAttr('disabled');
                        }
                    },
                    error: function (d) {
                        console.log(d);
                    }
                });
            }
        }

        function sendEmail(EmailAddress) {

            var validationRequestModel = {
                "Email": EmailAddress,
                "Password": "",
                "Type": 'UserCheck'
            }

            var d = JSON.stringify(validationRequestModel);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Auth/sendOTPToResetPassword",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(validationRequestModel),
                success: function (data) {
                    //console.log('ajax');
                    console.log(data);
                    var mainData = data.Data;

                    if (mainData.statusCode == 1 && mainData.message == "Email Sent") {

                        mailOTP = mainData.emailOTP;
                        mobileOTP = mainData.mobileOTP;

                        if (mailOTP != null && mobileOTP != null) {

                        $('#btnOpenVerficationModal').click();
                        }
                    }
                },
                error: function (d) {
                    console.log(d);
                }
            });
        }

        function updateverificationStatus(item) {
            Swal.fire({
                    title: "Success",
                    text: `${item} verified successfully...`,
                    icon: "success",
                    showCloseButton: true,
                });
            verifyStatus = verifyStatus + 1;

            if (item == "Email") {
                $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                $('#btnEverify').addClass('btn btn-success');
                $('#btnEverify').html("<i class='fa fa-check'></i> Verified");
            }

            if (item == "Mobile") {
                $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                $('#btnMverify').addClass('btn btn-success');
                $('#btnMverify').html("<i class='fa fa-check'></i> Verified");
            }

            if (verifyStatus >= 2) {
                setTimeout(function () {
                    $('#btnCloseModal').click();
                    setTimeout(function () {
                        $('#btnsubmit').click();

                    }, 1500);
                }, 2000)
            }
        }

    </script>
</body>
</html>