
@{
    Layout = null;

  var OTPCollection =  (SmartInsuarance.Helper.Api_CommonResponse)Session["OTPVerification"];

}
<title>Smart ensure-Verification</title>
<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
<link href="~/Content/Template/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
<link href="~/Content/Template/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<link href="~/Content/Template/css/style.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-toggle/3.6.1/bootstrap4-toggle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.css" />

<body class="body  h-100" style="background-image: url('/Content/Template/images/login-bg-1.jpg'); background-size: cover;">


    <button type="button" class="btn btn-primary mb-2" id="btnStartTrail" style="display:none" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Modal centered</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter"  data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-xl">
                <div class="modal-header">
                    <h5 class="modal-title">Enter OTP</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h2>Thank You</h2>
                        <i class='far fa-3x fa-smile' style="color: #87b2d6"></i><br />
                        <div style="margin-top: 20px;font-size:18px">
                            Thank you for using our service. <br />
                            Please enter the otp you recieved on provided mobile number and email address
                        </div>
                    </div>
                    <hr />
                    <div style="width: 90%;margin: auto;border: none;">
                        <div class="row">
                            <div class="col-sm-6" style="border-right: 1px solid #cbcbcb;">
                                <div class="row" style="display: flex; align-items: end;">
                                    <div class="col-sm-8">
                                        <label class="form-label"><strong>Mobile OTP</strong></label>
                                        <input type="text" class="form-control" oninput="numberOnly(this.id)" id="txtMobileOTP" placeholder="----" maxlength="4" style="width: 340px;">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="btnMverify" style="width: 160px;margin-left: -39px;-webkit-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);-moz-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);"> <i class='fa fa-check'></i> Verify</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row" style="display: flex; align-items: end;">
                                    <div class="col-sm-8">
                                        <label class="form-label"><strong>Email OTP</strong></label>
                                        <input type="text" class="form-control" oninput="numberOnly(this.id)" id="txtEmailOTP" placeholder="----" maxlength="4" style="width: 340px;">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="btnEverify" style="width: 160px;margin-left: -39px;-webkit-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);-moz-box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);box-shadow: inset -12px 4px 34px -4px rgba(0,0,0,0.75);"> <i class='fa fa-check'></i> Verify</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>


    <script src="~/Content/Template/vendor/global/global.min.js"></script>
    <script src="~/Content/Template/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Template/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/Template/js/custom.min.js"></script>
    <script src="~/Content/Template/js/dlabnav-init.js"></script>
    <script src="~/Content/Template/js/demo.js"></script>
    <script src="~/Content/Template/js/styleSwitcher.js"></script>
    <script src="~/Content/globalDomain.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.min.js"></script>
    <script type="text/javascript">
        var verifyStatus = 0;
        $(document).ready(function () {
            setTimeout(function () {

                $('#btnStartTrail').click();

            }, 1500);
        });

        $('#btnEverify').click(function () {
            //alert(verifyStatus);
            var h = '<span class="spinner1"><i class="fa fa-spinner fa-pulse"></i> Verifying</span>'

            $('#btnEverify').addClass('has-spinner1').addClass('activeSpin');
            $('#btnEverify').html('');
            $('#btnEverify').html(h);


            //verifyStatus = verifyStatus + 1;
            //alert(verifyStatus);
            var detailsEmailOTP = '@OTPCollection.emailOTP'
            var EmailRecievedOTP = detailsEmailOTP;
            var EnteredOTP = $('#txtEmailOTP').val();
            var userID = '@OTPCollection.userID'
            if (EnteredOTP.length > 0) {

                if (parseInt(EnteredOTP) == 0) {
                    Swal.fire({
                        title: "Error",
                        text: 'Invalid OTP..!',
                        icon: "error",
                        showCloseButton: true,
                    });
                    $('#txtEmailOTP').val('');
                    EnteredOTP = '';

                    $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                    $('#btnEverify').html("<i class='fa fa-check'></i> Verify");

                }
                else if (EmailRecievedOTP != EnteredOTP) {
                    Swal.fire({
                        title: "Error",
                        text: 'OTP Not Matched, Please Retry..!',
                        icon: "error",
                        showCloseButton: true,
                    });
                    $('#txtEmailOTP').val('');
                    EnteredOTP = '';
                    $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                    $('#btnEverify').html("<i class='fa fa-check'></i> Verify");
                }
                else {
                    updateverificationStatus('Email', userID);
                }
            }
            else {
                Swal.fire({
                    title: "Error",
                    text: 'Please Enter OTP, Its Can`t be Blank..!',
                    icon: "error",
                    showCloseButton: true,
                });
                $('#txtEmailOTP').val('');
                EnteredOTP = '';
                $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                $('#btnEverify').html("<i class='fa fa-check'></i> Verify");
            }
        })

        $('#btnMverify').click(function () {
            //alert(verifyStatus);
            var h = '<span class="spinner1"><i class="fa fa-spinner fa-pulse"></i> Verifying</span>'

            $('#btnMverify').addClass('has-spinner1').addClass('activeSpin');
            $('#btnMverify').html('');
            $('#btnMverify').html(h);


            var detailsMobileOTP = '@OTPCollection.mobileOTP'
            var mobileRecievedOTP = detailsMobileOTP;
            var EnteredOTP = $('#txtMobileOTP').val();
            var userID = '@OTPCollection.userID'

            //verifyStatus = verifyStatus + 1;

            //alert(verifyStatus);
            if (EnteredOTP.length > 0) {

                //if (parseInt(EnteredOTP) == 0) {
                //    Swal.fire({
                //        title: "Error",
                //        text: 'Invalid OTP..!',
                //        icon: "error",
                //        showCloseButton: true,
                //    });
                //    $('#txtMobileOTP').val('');
                //    EnteredOTP = '';
                //    $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                //    $('#btnMverify').html("<i class='fa fa-check'></i> Verify");
                //}
                //else if (mobileRecievedOTP != EnteredOTP) {
                //    Swal.fire({
                //        title: "Error",
                //        text: 'OTP Not Matched, Please Retry..!',
                //        icon: "error",
                //        showCloseButton: true,
                //    });
                //    $('#txtMobileOTP').val('');
                //    EnteredOTP = '';
                //    $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                //    $('#btnMverify').html("<i class='fa fa-check'></i> Verify");
                //}
                //else {
                updateverificationStatus('Mobile', userID);
                //}
            }
            else {
                Swal.fire({
                    title: "Error",
                    text: 'Please Enter OTP, Its Can`t be Blank..!',
                    icon: "error",
                    showCloseButton: true,
                });
                $('#txtMobileOTP').val('');
                EnteredOTP = '';
                $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                $('#btnMverify').html("<i class='fa fa-check'></i> Verify");
            }
        })



        function numberOnly(id) {
            // Get element by id which passed as parameter within HTML element event
            var element = document.getElementById(id);
            // This removes any other character but numbers as entered by user
            element.value = element.value.replace(/[^0-9]/gi, "");
        }

        function updateverificationStatus(item, userID) {
            var TrialuserModal = {
                userID: userID,
                verificationType: item
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Auth/updateStatus",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(TrialuserModal),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);

                    //localStorage.removeItem("TrialUserDetails");

                    if (data.Data.status == 1) {
                        Swal.fire({
                            title: "Success",
                            text: data.message,
                            icon: "success",
                            showCloseButton: true,
                        });
                        verifyStatus = verifyStatus + 1;
                    }

                    if (item == "Email") {
                        $('#btnEverify').removeClass('has-spinner1').removeClass('activeSpin');
                        $('#btnEverify').addClass('btn btn-success');
                        $('#btnEverify').html("<i class='fa fa-check'></i> Verified");
                    }

                    if (item == "Mobile") {
                        $('#btnMverify').removeClass('has-spinner1').removeClass('activeSpin');
                        $('#btnMverify').addClass('btn btn-success');
                        $('#btnMverify').html("<i class='fa fa-check'></i> Verified");
                    }

                    if (verifyStatus >= 2) {
                        setTimeout(function () {
                            //alert('verification', verifyStatus);
                            window.location.href = GetglobalDomain() + "/Auth/Chackout";
                            //eraseCookie('emailOTP');
                            //eraseCookie('userID');
                            //eraseCookie('mobileOTP');
                        }, 2000)
                    }

                    //else {
                    //    Swal.fire({
                    //        title: "Error",
                    //        text: data,
                    //        icon: "error",
                    //        showCloseButton: true,
                    //    });
                    //    $('#btnStartTrail').html('<i class="fa fa-home"></i> Start 15 Days Trial')
                    //}

                    //setTimeout(function () {
                    //    location.reload();
                    //}, 3000);

                },
                error: function (d) {
                    console.log(d);
                    //alert("404. Please wait until the File is Loaded.");
                }
            });
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }


    </script>
</body>
